{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  
  <div class="card text-center">
    <div class="card-header">
      <div class="text-header">Register</div>
    </div>

    <div class="card-body">
      <form method="post" class="form-register">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username:</label>
          {{ form.username }}
          {% if form.username.errors %}
            <p class="error">{{ form.username.errors }}</p>
          {% endif %}
        </div>

        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
              <p class="error">{{ form.email.errors }}</p>
            {% endif %}
        </div>
        
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Password:</label>
          {{ form.password1 }}
          {% if form.password1.errors %}
            <p class="error">{{ form.password1.errors }}</p>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
          {{ form.password2 }}
          {% if form.password2.errors %}
            <p class="error">{{ form.password2.errors }}</p>
          {% endif %}
        </div>
       <input type="submit" class="btn btn-primary" value="submit">    </form>
    </div>
  </div>
  
  
{% endblock content %}
